.logo {
    width: 100px;
  }
  .icon {
    height: 30px;
  }
  
  .nextVideoSection {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
  }
  .nextVideoTextSection {
    float: right;
    width: 55%;
  }
  .nextVideosThumbImg {
    width: 42%;
    float: left;
  }
  .underVideoContent {
    width: 63%;
  }
  .videoThumbH4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .nextVideoViewCounter {
    margin-top: 0%;
  }
  